/* line 5, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
.content {
  display: inline-block;
  width: 80%;
  float: left;
}

/* line 10, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
nav {
  padding: 50px;
}

/* line 13, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #3F2860;
  border-radius: 5px;
}

/* line 21, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
nav > ul > li {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 14px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  transition: all .6s linear 0s;
  width: 150px;
}

/* line 33, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
nav > ul > li:hover {
  background: #7A9A95;
  border-radius: 5px;
  color: #3F2860;
}

/* line 40, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
ul.drop-menu {
  position: absolute;
  top: 2%;
  left: 100%;
  width: 100%;
  padding: 0;
}

/* line 48, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
ul.drop-menu li {
  background: #3F2860;
  color: rgba(255, 255, 255, 0.7);
}

/* line 52, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
ul.drop-menu li:hover {
  background: #7A9A95;
  color: #3F2860;
}

/* line 56, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

/* line 60, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
ul.drop-menu li {
  display: none;
}

/* line 63, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu li {
  display: block;
}

/* line 71, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-1 {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/* line 75, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-1 li {
  opacity: 0;
}

/* line 79, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-1 li:nth-child(1) {
  animation-name: menu1;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 79, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-1 li:nth-child(2) {
  animation-name: menu1;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 79, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-1 li:nth-child(3) {
  animation-name: menu1;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 79, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-1 li:nth-child(4) {
  animation-name: menu1;
  animation-duration: 850ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 79, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-1 li:nth-child(5) {
  animation-name: menu1;
  animation-duration: 1100ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes menu1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    opacity-transform: rotateY(0deg) translateY(0px);
  }
}

/* line 96, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
span {
  margin: 0 35px;
}

/* line 100, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-2 {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/* line 104, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-2 li {
  opacity: 0;
  transform-origin: top center;
}

/* line 110, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-2 li:nth-child(1) {
  animation-name: menu2;
  animation-duration: 320ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 110, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-2 li:nth-child(2) {
  animation-name: menu2;
  animation-duration: 690ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 110, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-2 li:nth-child(3) {
  animation-name: menu2;
  animation-duration: 1060ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 110, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-2 li:nth-child(4) {
  animation-name: menu2;
  animation-duration: 1430ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 110, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-2 li:nth-child(5) {
  animation-name: menu2;
  animation-duration: 1800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes menu2 {
  0% {
    opacity: 0;
    transform: rotateX(-90deg) translateX(50px);
  }
  50% {
    opacity: 1;
    transform: rotateX(50deg) translateX(0px);
  }
  60% {
    opacity: 1;
    transform: rotateX(-20deg) translateX(0px);
  }
  75% {
    opacity: 1;
    transform: rotateX(0deg) translateX(0px);
  }
  85% {
    opacity: 1;
    transform: rotateX(20deg) translateX(0px);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) translateX(0px);
  }
}

/* line 139, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
span {
  margin: 0 35px;
}

/* line 143, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-3 {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/* line 147, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-3 li {
  opacity: 0;
  transform-origin: top center;
}

/* line 153, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-3 li:nth-child(1) {
  animation-name: menu3;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 153, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-3 li:nth-child(2) {
  animation-name: menu3;
  animation-duration: 650ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 153, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-3 li:nth-child(3) {
  animation-name: menu3;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 153, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-3 li:nth-child(4) {
  animation-name: menu3;
  animation-duration: 1350ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 153, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-3 li:nth-child(5) {
  animation-name: menu3;
  animation-duration: 1700ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes menu3 {
  0% {
    opacity: 0;
    transform: rotateX(-90deg) translateZ(80px);
  }
  50% {
    opacity: 0.6;
    transform: rotateX(50deg) translateZ(40px);
  }
  60% {
    opacity: 0.6;
    transform: rotateX(-20deg) translateZ(0px);
  }
  75% {
    opacity: 0.7;
    transform: rotateX(0deg) translateZ(0px);
  }
  85% {
    opacity: 0.9;
    transform: rotateX(20deg) translateZ(0px);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) translateZ(0px);
  }
}

/* line 181, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
span {
  margin: 0 35px;
}

/* line 185, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-4 {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/* line 189, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-4 li {
  opacity: 0;
  transform-origin: top left;
}

/* line 195, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-4 li:nth-child(1) {
  animation-name: menu4;
  animation-duration: 530ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 195, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-4 li:nth-child(2) {
  animation-name: menu4;
  animation-duration: 530ms;
  animation-delay: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 195, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-4 li:nth-child(3) {
  animation-name: menu4;
  animation-duration: 530ms;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 195, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-4 li:nth-child(4) {
  animation-name: menu4;
  animation-duration: 530ms;
  animation-delay: 750ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* line 195, C:/Users/martin/Documents/HTMLs/menu-animations-sass/sass/main.sass */
li:hover > ul.drop-menu.menu-4 li:nth-child(5) {
  animation-name: menu4;
  animation-duration: 530ms;
  animation-delay: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes menu4 {
  0% {
    opacity: 0;
    transform: rotateZ(-90deg);
    background: #3F2860;
  }
  50% {
    opacity: 0.6;
    transform: rotateZ(50deg);
  }
  60% {
    opacity: 0.6;
    transform: rotateZ(-30deg);
  }
  75% {
    opacity: 0.7;
    transform: rotateZ(10deg);
  }
  85% {
    opacity: 0.9;
    transform: rotateZ(-5deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(0deg);
    background: #7A9A95;
  }
}

/*# sourceMappingURL=../css/main.map */