//colors
$prim-clr: #3F2860
$sec-clr: #7A9A95

.content
  display: inline-block
  width: 80%
  float: left

nav
  padding: 50px

  > ul
    list-style: none
    padding: 0
    margin: 0
    display: inline-block
    background: $prim-clr
    border-radius: 5px

    > li
      color: rgba(255,255,255,0.7)
      cursor: pointer
      font-size: 14px
      height: 65px
      line-height: 65px
      position: relative
      text-transform: uppercase
      text-align: center
      transition: all .6s linear 0s
      width: 150px

      &:hover
        background: $sec-clr
        border-radius: 5px
        color: $prim-clr



ul.drop-menu
  position: absolute
  top: 2%
  left: 100%
  width: 100%
  padding: 0


  li
    background: $prim-clr
    color: rgba(255,255,255,0.7)

    &:hover
        background: $sec-clr
        color: $prim-clr

    &:last-child
      border-radius: 0px 0px 5px 5px


ul.drop-menu li
  display: none // HIDE

li:hover > ul.drop-menu li
  display: block // SHOW




// MENU 1 ---------------

li:hover > ul.drop-menu.menu-1
    -webkit-perspective: 1000px  // Chrome, Safari, Opera
    perspective: 1000px

    li
        opacity: 0

        @for $i from 1 through 5
            &:nth-child(#{$i})
                animation:
                    name: menu1
                    duration: (250ms * $i) - 150
                    timing-function: ease-in-out
                    fill-mode: forwards

    @keyframes menu1
        0%
            opacity: 0
            transform: rotateY(-90deg) translateY(30px)
        100%
            opacity: 1
             transform: rotateY(0deg) translateY(0px)


        // MENU 2 ---------------
span
    margin: 0 35px


li:hover > ul.drop-menu.menu-2
    -webkit-perspective: 1000px;  // Chrome, Safari, Opera
    perspective: 1000px

    li
        opacity: 0
        transform-origin: top center


        @for $i from 1 through 5
            &:nth-child(#{$i})
                animation:
                    name: menu2
                    duration: (370ms * $i) - 50
                    timing-function: ease-in-out
                    fill-mode: forwards

    @keyframes menu2
        0%
            opacity: 0
            transform: rotateX(-90deg) translateX(50px)
        50%
            opacity: 1
            transform: rotateX(50deg) translateX(0px)
        60%
            opacity: 1
            transform: rotateX(-20deg) translateX(0px)
        75%
            opacity: 1
            transform: rotateX(0deg) translateX(0px)
        85%
            opacity: 1
            transform: rotateX(20deg) translateX(0px)
        100%
            opacity: 1
            transform: rotateX(0deg) translateX(0px)


        // MENU 3 ---------------
span
    margin: 0 35px


li:hover > ul.drop-menu.menu-3
    -webkit-perspective: 1000px;  // Chrome, Safari, Opera
    perspective: 1000px

    li
        opacity: 0
        transform-origin: top center


        @for $i from 1 through 5
            &:nth-child(#{$i})
                animation:
                    name: menu3
                    duration: (350ms * $i) - 50
                    timing-function: ease-in-out
                    fill-mode: forwards

    @keyframes menu3
        0%
            opacity: 0
            transform: rotateX(-90deg) translateZ(80px)
        50%
            opacity: 0.6
            transform: rotateX(50deg) translateZ(40px)
        60%
            opacity: 0.6
            transform: rotateX(-20deg) translateZ(0px)
        75%
            opacity: 0.7
            transform: rotateX(0deg) translateZ(0px)
        85%
            opacity: 0.9
            transform: rotateX(20deg) translateZ(0px)
        100%
            opacity: 1
            transform: rotateX(0deg) translateZ(0px)

        // MENU 4 ---------------
span
    margin: 0 35px


li:hover > ul.drop-menu.menu-4
    -webkit-perspective: 1000px;  // Chrome, Safari, Opera
    perspective: 1000px

    li
        opacity: 0
        transform-origin: top left


        @for $i from 1 through 5
            &:nth-child(#{$i})
                animation:
                    name: menu4
                    duration: 530ms
                    delay: (250ms * $i) - 250
                    timing-function: ease-in-out
                    fill-mode: forwards

    @keyframes menu4
        0%
            opacity: 0
            transform: rotateZ(-90deg)
            background: $prim-clr
        50%
            opacity: 0.6
            transform: rotateZ(50deg)
        60%
            opacity: 0.6
            transform: rotateZ(-30deg)
        75%
            opacity: 0.7
            transform: rotateZ(10deg)
        85%
            opacity: 0.9
            transform: rotateZ(-5deg)
        100%
            opacity: 1
            transform: rotateZ(0deg)
            background: $sec-clr
